body {
    margin: 0px auto;
    width: 1024px;
}

.productPages {
    background-image: url('Images/BlackTransparent.png');
}

.log-size {
    width: 190px;
    margin-top: 10px;
   }

.minList {
    list-style: none;
}