<reference path="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></reference>

<div class="container productPages">
    <div class="row">

        <div id="productNav" class="col-md-4">
            <a href="#/"><span class="glyphicon glyphicon-arrow-left"></span> Menu</a>
        </div>

        <div id="productTitle" class="col-md-6 col-md-offset-2">
            <h2>Product 1</h2>
        </div>

    </div>
</div>