@model IEnumerable<WebshopProject.Models.Movie>

<div class="container productPages">
    <div class="row">
        <div id="productNav" class="col-md-4">
            <ul>
                <li><a href="#/1">Central Intelligence</a></li>
                <img src="~/Content/Images/Movie Pic/Central Intelligence.jpg" width="150" />
                <li><a href="#/2">Jason Bourne</a></li>
                <img src="~/Content/Images/Movie Pic/Jason_Bourne_(film).jpg" width="150" />
                <li><a href="#/3">Product 3</a></li>
            </ul>
        </div>
        <div id="productTitle" class="col-md-6 col-md-offset-2">
            <h2>Start</h2>
        </div>
    </div>
</div>