<div class="container productPages">
    <div class="row">

        <div id="productNav" class="col-md-4">
            <ul>
                <li><a href="#/1">Product 1</a></li>
                <li><a href="#/2">Product 2</a></li>
                <li><a href="#/3">Product 3</a></li>
            </ul>
        </div>

        <div id="productTitle" class="col-md-6 col-md-offset-2">
            <h2>Start</h2>
        </div>

    </div>
</div>