<reference path="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></reference>

@model WebshopProject.Models.ModelClass
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
@* This page index.cshtml will be our main page, on here we will load product angular-views, angular-ajax forms etc *@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Movies</title>

    @* Script files *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    @* Our custom Javascript goes in these files *@
    <script src="~/AngularRouting.js"></script>
    <script src="~/CustomJavaScript.js"></script>
    @* CSS files *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @* Our custom CSS goes in this file *@
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyleSheet.css" />
</head>

<body ng-app="shopApp" ng-controller="IndexCtrl">

    @* Bootstrap container for page fluidity *@
    <div class="container">
        <div class="row">
            
            <div class="col-md-8" style="border-bottom:1px outset #F0A830">

                @* PRODUCT PAGES *@
                <div ng-view></div>

            </div>

            <div class="container col-md-4" style="border-left:1px outset #F0A830">
                <h2>Cart</h2>
                <p><b>Put movies in your cart to checkout.</b></p>

                <div class="panel-group col-md-3 col-md-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-heading"><i>{{message}}</i></div>
                        <div ng-repeat="m in movies" class="panel-body">{{m.title}}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
