@model WebshopProject.Models.ModelClass
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
@* This page index.cshtml will be our main page, on here we will load product angular-views, angular-ajax forms etc *@

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Movies</title>

    @* Script files *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    @* Our custom Javascript goes in these files *@
    <script src="~/AngularRouting.js"></script>
    <script src="~/CustomJavaScript.js"></script>
    @* CSS files *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @* Our custom CSS goes in this file *@
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyleSheet.css" />
</head>

<body ng-app="shopApp">

    @* Bootstrap container for page fluidity *@
    <div class="container-fluid">
        <div id="cart" class="row">
            <div class="col-md-10" style="border-top:1px groove #808080; border-top:0px none black">

                @* PRODUCT PAGES *@
                <div ng-view></div>

            </div>
            <div class="col-md-2">
                <h4>Cart placeholder</h4>
                <p>Here movies will appear after you have put them in your cart!</p>
                <p>Right now, this text is just holding this space until that code is ready...</p>
            </div>
        </div>
    </div>
</body>
</html>
