@model WebshopProject.Models.ModelClass
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Search Results</h2>

<br />
<br />

@* Here we will have a database check using Entity Framework to call on the creation of partial views (products),
    using a for-loop, for each product it can find. If none are found, we display the message below *@
<p>No products found for "@Model.Search". <i>Sorry!</i></p>