<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
</head>
<body class="container-fluid"
      style="background-color: #0E0B16;
      background-image: url('http://i64.tinypic.com/539t03.jpg');
      background-clip:content-box;
      background-position:center;
      color: white">

    <content>

        @* Shop Header with two rows *@
        <header style="border-bottom:1px ridge #4717F6">
            <div class="row">
                <nav class="col-md-12 navbar navbar-brand">
                    <div class="navbar-header nav-stacked">
                        <a class="navbar-brand" href="Home/Index"><h1>Angular Movies</h1></a>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Movies so sharp you wouldn't let your kids run with them!</p>
                </div>
            </div>
        </header>

        <div class="row">
            @* index.cshtml loads here *@
            @RenderBody()
        </div>

    </content>

    @* This is the Footer of the shop *@
    <footer class="navbar-fixed-bottom text-center" style="background-color: black; color:white">
        <p>Angular Movies © 2017 | PFinnfors WassimElBittar maher2u</p>
    </footer>
</body>
</html>
